<div style="display: flex; justify-content: space-between; align-items: flex-end; margin-top: 3em;">
  <h2>Orders</h2>

  <div class="dropdown-parent dropdown profile-dropdown">
    <button class="user-session__button dropdownBtn user user-session__button--dropdown-launcher">
      {{ filter_status }} Orders
    </button>

    <ul class="dropdown-content">
      <li class="dropdown-content-header" style="font-size: 0.8em; text-transform: uppercase;">Order status</li>
      <li><a class="dropdown-option" href="{% url 'dw:storeinfo' %}?status=all">All</a></li>
      <li><a class="dropdown-option" href="{% url 'dw:storeinfo' %}?status=pending">Pending</a></li>
      <li><a class="dropdown-option" href="{% url 'dw:storeinfo' %}?status=completed">Completed</a></li>
    </ul>
  </div>
</div>

{% if orders %}
  <table class="table__wrapper box-shadow">
    <thead>
      <tr class="table__row--header">
        <th>User</th>
        <th>Adult Masks</th>
        <th>Child Masks</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      {% for order in orders %}
        <tr class="table__row">
          <td>{{ order.user_email }}</td>
          <td>{{ order.adult }}</td>
          <td>{{ order.child }}</td>
          <td>
            {% if order.received == True %}
              Completed
            {% else %}
              Pending
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <td>
        </td>
      </tr>
    </tfoot>
  </table>
{% else %}
  <h3 style="font-weight: 400;">
    {% if order_status == 'All' %}
      There are currently no mask orders.
    {% else %}
      There are currently no mask {{ order_status }} orders.
    {% endif %}
  </h3>
{% endif %}