.main {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background: #F5F5F5;
  color: #172b4d;
}

.container {
  margin-top: 1em;
}

.user-session__content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 2em;
}

.user-session__heading {
  font-size: 1.5em;
  margin: 0 0 1em;
}

.user-session__form {
  display: flex;
  margin: 1em auto;
  flex-direction: column;
  min-width: 480px;
  width: 480px;
  background: white;
  border-radius: 10px;
  padding: 2em;
}

.user-session__form--title {
  text-align: center;
}

.user-session__input-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 1em;
}

.user-session__input-group--label {
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  margin: 0 0.5em 0.5em;
  color: #818A91;
}

.user-session__input-group--input {
  border: #E6E6E6 1px solid;
  border-radius: 0.375em;
  color: #3C4852;
  padding: 0.8em 1em;
  min-height: 2.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
  -webkit-appearance: none;
}

.user-session__input-group--error {
  color: #e63946;
  margin-bottom: 0.5em;
}

.user-session__button {
  min-height: 2.5em;
  padding: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  background: transparent;
  border: none;
  border-radius: 5px;
  background: rgb(255, 240, 75);
}

.user-session__button:hover {
  background: #172b4d;
  color: #E0E8F6;
}

.user-session__link--button {
  color: #172b4d !important;
}


/* Profile Styles */
.profile__detail-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 1em;
}

.profile__detail-group--label {
  margin: 0 0 0.5em;
}

/* End Profile Styles */

/* Navigation Styles */
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 5em;
  max-height: 5em;
  padding: 0 5em;
  background: rgba(255, 255, 255, 0.9);
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.header .header__title {
  padding-right: 40px;
}

.header .header__title a {
  font-weight: 600px;
  font-size: 1.5em;
  color: #172b4d !important;
}

.header__items {
  display: flex;
  margin-left: auto;
  list-style: none;
  padding: 0;
  text-align: center;
}

.header .header--homepage {
  position: fixed;
}

.header__item {
  display: block;
  min-width: 150px;
  padding: 35px 10px 35px 10px;
}


@media (max-width: 61.24em) {
  .header__item {
    display: none;
  }
}

.header__item a {
  color: #002042;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.627219319 !important;
  text-align: center;
}

.header__item a:hover {
  color: rgb(230, 210, 0) !important;
  text-decoration: underline;
}

.header__item--black a {
  color: #172b4d !important;
}

.bar__base {
  width: 35px;
  height: 5px;
  background-color: rgb(230, 210, 0);
  margin: 6px 0;
  transition: 0.4s;
}

.animate-nav .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.animate-nav .bar-2 {
  opacity: 0;
}

.animate-nav .bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.burger-header {
  display: none;
}

@media (max-width: 61.24em) {
  .burger-header {
    display: block;
  }
}

.collapsed-nav {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
  margin-top: 70px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.collapsed-navbar-show {
  display: flex;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
}

.collapsed-navbar-show li {
  list-style: none;
  padding: 8px;
  margin: 10px;
  color: #fff;
  text-align: center;
}

.collapsed-navbar-show .collapsed-header-link {
  padding: 8px;
  margin: 5px;
  font-weight: bolder;
  font-size: 14px;
  color: #172b4d;
}

.collapsed-navbar-show .collapsed-header-link:hover {
  color: #2199e8;
  background: transparent;
}

/* End of Navigation Styles */