<nav class="header">
  <div class="header__title flex-left">
    Mask Inventory
  </div>

  <ul class="header-items flex-right">
    {% if request.user.is_authenticated %}
      <li class="header__item">
        <a href="{% url 'dw:profile' %}">My Profile</a>
      </li>

      <li class="header__item">
        <a href="{% url 'dw:subscriptions' %}">My Subscriptions</a>
      </li>

      <li class="header__item">
        <a href="{% url 'dw:logout' %}">Logout</a>
      </li>
    {% else %}
      <li class="header__item"><a href="{% url 'dw:login' %}">Login</a></li>
    {% endif %}
  </ul>

  <div class="flex-right burger-header--wrapper">
    <div id="mainHeader" class="burger-header">
      <div class="bar-1"></div>
      <div class="bar-2"></div>
      <div class="bar-3"></div>
    </div>
  </div>
</nav>

<div id="main-header-links" class="collapsed-nav">
  {% if request.user.is_authenticated %}
    <li class="header__item">
      <a href="{% url 'dw:profile' %}" class="collapsed-header-link">My Profile</a>
    </li>

    <li>
      <a href="{% url 'dw:subscriptions' %}" class="collapsed-header-link">My Subscriptions</a>
    </li>

    <li>
      <a href="{% url 'dw:logout' %}" class="collapsed-header-link">Logout</a>
    </li>
  {% else %}
    <li><a href="{% url 'dw:login' %}" class="collapsed-header-link">Login</a></li>
  {% endif %}
</div>