{% extends 'base.html' %}
{% load cognito_tags %}

{% block title %}Your Profile{% endblock title %}

{% block main_content %}
  <div class="user-session__content-wrapper">
    <div style="display: flex; align-items: baseline; justify-content: space-between;">
      <h1 class="user-session__heading">{{ user|username }}</h1>
      <a href="{% url 'dw:update-profile' %}">Edit</a>
    </div>

    <div>
      <div class="profile__detail-group">
        <h4 class="profile__detail-group--label">
          Username
        </h4>

        <span>
          {{ user|username }}
        </span>
      </div>

      <div class="profile__detail-group">
        <h4 class="profile__detail-group--label">
          Name
        </h4>

        <span>
          {{ user.name }}
        </span>
      </div>

      <div class="profile__detail-group">
        <h4 class="profile__detail-group--label">
          Email
        </h4>

        <span>
          {{ user.email }}
        </span>
      </div>

      <div class="profile__detail-group">
        <h4 class="profile__detail-group--label">
          Address
        </h4>

        <span>
          {{ user.address }}
        </span>
      </div>
    </div>
  </div>
{% endblock main_content %}